/* Illustrations container styles */
.illustrations-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    border: 4px solid black;
    border-radius: 60px ; /* Larger border radius for a softer look */
    position: relative;
}

.illustration-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    border: 2px solid black;
    border-radius: 40px;
}

.illustration-item svg,
.illustration-item object {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
}

/* Responsive adjustments */
@media (max-width: 950px) {
    .illustrations-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 15px;
        border-radius: 40px;
    }

    .illustration-item {
        border-radius: 30px;
    }
}

@media (max-width: 600px) {
    .illustrations-container {
        gap: 10px;
        padding: 10px;
        border-radius: 20px;
    }

    .illustration-item {
        border-radius: 20px;
    }
}